In [26]:
import pandas as pd
import numpy as np
file_path='data/BreastCancer/breast-cancer-wisconsin.data.txt'
data=pd.read_csv(file_path, delimiter=',',header =None,skipinitialspace=True)
#print(data)

In [2]:
data.head(20)
#data.describe()
#data.info()

         0   1   2   3   4   5   6   7   8   9   10
0   1000025   5   1   1   1   2   1   3   1   1   2
1   1002945   5   4   4   5   7  10   3   2   1   2
2   1015425   3   1   1   1   2   2   3   1   1   2
3   1016277   6   8   8   1   3   4   3   7   1   2
4   1017023   4   1   1   3   2   1   3   1   1   2
5   1017122   8  10  10   8   7  10   9   7   1   4
6   1018099   1   1   1   1   2  10   3   1   1   2
7   1018561   2   1   2   1   2   1   3   1   1   2
8   1033078   2   1   1   1   2   1   1   1   5   2
9   1033078   4   2   1   1   2   1   2   1   1   2
10  1035283   1   1   1   1   1   1   3   1   1   2
11  1036172   2   1   1   1   2   1   2   1   1   2
12  1041801   5   3   3   3   2   3   4   4   1   4
13  1043999   1   1   1   1   2   3   3   1   1   2
14  1044572   8   7   5  10   7   9   5   5   4   4
15  1047630   7   4   6   4   6   1   4   3   1   4
16  1048672   4   1   1   1   2   1   2   1   1   2
17  1049815   4   1   1   1   2   1   3   1   1   2
18  1050670  10   7   7   6   4  10   4   1   2   4
19  1050718   6   1   1   1   2   1   3   1   1   2

In [3]:
data=data.replace('?', np.NaN)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 0 to 698
Data columns (total 11 columns):
0     699 non-null int64
1     699 non-null int64
2     699 non-null int64
3     699 non-null int64
4     699 non-null int64
5     699 non-null int64
6     683 non-null object
7     699 non-null int64
8     699 non-null int64
9     699 non-null int64
10    699 non-null int64
dtypes: int64(10), object(1)
memory usage: 65.5+ KB

In [4]:
data=data.dropna()
#data=data.replace(np.NaN, 1)
#data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.info()
#data.iloc[:,6]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
0     683 non-null int64
1     683 non-null int64
2     683 non-null int64
3     683 non-null int64
4     683 non-null int64
5     683 non-null int64
6     683 non-null object
7     683 non-null int64
8     683 non-null int64
9     683 non-null int64
10    683 non-null int64
dtypes: int64(10), object(1)
memory usage: 64.0+ KB

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(data.iloc[:,1:10], data.iloc[:,10],test_size=0.3, random_state=41)

print(x_train.shape)
#y_train

(478, 9)

In [12]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=9)
neigh.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=9, p=2,
           weights='uniform')

In [13]:
y_pred=neigh.predict(x_test)

print(np.asarray(y_test[:30]))

print(y_pred[:30])

[4 2 2 2 2 2 2 2 2 2 2 2 4 2 2 2 2 4 2 2 2 2 2 4 4 2 2 2 4 4]
[4 2 4 2 2 2 2 2 2 2 2 2 4 2 2 2 2 4 2 2 2 2 2 4 4 2 2 2 4 4]

In [14]:
from sklearn import metrics
score_test = metrics.accuracy_score(y_test, y_pred)
print(score_test)

0.965853658537